.header  {
  font-family: monospace;
  background: papayawhip;
  padding: 8px;
  display:flex;
  align-items: center;
  justify-content: center;

}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 0 auto 0 auto;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
 margin: 0px;
 padding: 0px;
  justify-content: space-around;
  gap: 16px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}