/* Add CSS Styling */
p{
    background-color: pink;
    font-family: Verdana, "Dejavu sans", sans-serif;

}

#num2{
    color: blue;
    font-size: 36px;
}

#num4{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: 700;
}